.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input,
.textarea {
  height: 50px;
  width: 30%;
  margin: 0.5rem 0;
  border-radius: 8px;
  padding: 0.5rem;
}

.textarea {
  height: 150px;
}

button {
  border-radius: 8px;
  border: 0;
  color: #fff;
  padding: 14px;
}

.submit {
  background: rgb(103,107,167);
  width: 300px;
  margin-top: 1.5rem;
  margin-bottom: 100px;
}

