body{
  font: 600 18px Nunito, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container-sobre-mim {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.container-sobre-mim img {
  width: 250px;
  border-radius: 30px;
}

.container-sobre-mim h1 {
 color: rgb(103,107,167);;
}
.container-sobre-mim-texto {
  width: 50vw;
  margin: 10px 30px;
}

.container-sobre-mim-texto p {
  font-size: 18px;
  margin: 18px 0;
}